@dark-bg {
	&: {
		#090710; {
			@muted-red {
				&: {
					#792d2d; {
						@glowing-red {
							&: {
								#ffc5b2; {
									@shadow-red {
										&: {
											#ff4343; {
												@silver {
													&: {
														#a8b0f3; {
															.center-children {
																() {
																	display: flex;
																	align-items: center;
																	justify-content: center;
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
body {
	max-width: 100vw;
	font-family: "Julius Sans One";
	background: @dark-bg;
}
#root {
	width: 100%;
	min-height: 100vh;
}
.clock {
	width: 100%;
	max-width: 75vw;
	padding: 20px 0;
	flex-direction: column;
}
.phrases {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	word-spacing: 12px;
	font-size: 36px;
	line-height: 1.618;
}
.timer {
	margin-top: 30px;
	margin-left: 10px;
	color: @silver;
	font-size: 20px;
	font-weight: bold;
}
span {
	color: @muted-red;
	margin: 0 10px;
	transition: all 0.5s cubic-bezier(0.6, -0.51, 0.5, 1.51);
	vertical-align: middle;
	filter: blur(2px);
	&.glow { color: @glowing-red;
	text-shadow: 0 0 20px @shadow-red;
	font-weight: bold;
	filter: none;
}
} {
	.standard-clock {
		max-width: 300px;
		min-width: 300px;
		height: 300px;
		margin-bottom: 40px;
		border-radius: 50%;
		border: 5px double;
		color: @glowing-red;
		position: relative;
		text-shadow: 0 0 20px @shadow-red;
		box-shadow: 0 0 20px @shadow-red, inset 0 0 20px @shadow-red;
		transition: all 0.5s cubic-bezier(0.6, -0.51, 0.5, 1.51);
		&: before { content: ' ';
		position: absolute;
		top: -14px;
		left: -14px;
		display: block;
		width: 320px;
		height: 320px;
		border-radius: 50%;
		border: 4px dotted red;
		transition: all 0.5s cubic-bezier(0.6, -0.51, 0.5, 1.51);
	}
	.inner-circle {
		position: absolute;
		top: 50px;
		left: 50px;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		border: 2px solid;
		box-shadow: 0 0 20px @shadow-red, inset 0 0 20px @shadow-red;
		transition: all 0.5s cubic-bezier(0.6, -0.51, 0.5, 1.51);
	}
}
.inner-circle-2 {
	position: absolute;
	top: 60px;
	left: 60px;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 2px solid;
	box-shadow: 0 0 20px @shadow-red, inset 0 0 20px @shadow-red;
	transition: all 0.5s cubic-bezier(0.6, -0.51, 0.5, 1.51);
	top: 45px;
	left: 45px;
	width: 110px;
	height: 110px;
}
.mark {
	position: absolute;
	display: inline-block;
	top: 10px;
	left: 115px;
	width: 50px;
	height: 30px;
	font-size: 30px;
	text-align: center;
	color: @glowing-red;
	filter: none;
	transform-origin: 25px 140px;
	top: 8px;
	left: 76px;
	width: 30px;
	height: 20px;
	font-size: 20px;
	transform-origin: 15px 92px;
}
.generate-mark-rotation {
	(@n) {
		when {
			(@n {
				< {
					13) {
						span.mark: nth-child(@{n;
					}
				}
			}
		}
	}
}
) {
	transform: rotate((@n - 1) * 30deg);
	//background: green;
	transform: rotate((@n - 1) * 6deg);
	height: 20px;
}
.generate-mark-rotation(@n {
	+ {
		1); {
			} {
				.generate-mark-rotation(2); {
					.tick {
						position: absolute;
						display: inline-block;
						top: 51px;
						left: 141px;
						width: 0px;
						outline: 1px @glowing-red solid;
						height: 8px;
						//background: @glowing-red;
						transform-origin: 0px 100px;
						filter: none;
					}
				}
			}
		}
	}
}
.generate-tick-rotation {
	(@n) {
		when {
			(@n {
				< {
					61) {
						span.tick: nth-child(@{n;
					}
				}
			}
		}
	}
}
.generate-big-tick-rotation {
	(@n) {
		when {
			(@n {
				< {
					12) {
						@m: (@n * 5) + 1;
						span.tick: nth-child(@{m;
					}
				}
			}
		}
	}
}
.generate-big-tick-rotation(@n {
	+ {
		1); {
			} {
				.generate-big-tick-rotation(0); {
					.hour-hand {
						width: 10px;
						height: 55px;
						background: @glowing-red;
						position: absolute;
						top: 100px;
						left: 145px;
						border-radius: 0 0 5px 5px;
						transform-origin: 5px 50px;
						box-shadow: 0 0 20px @shadow-red;
					}
				}
			}
		}
	}
}
.minute-hand {
	width: 10px;
	height: 55px;
	background: @glowing-red;
	position: absolute;
	top: 100px;
	left: 145px;
	border-radius: 0 0 5px 5px;
	transform-origin: 5px 50px;
	box-shadow: 0 0 20px @shadow-red;
	width: 4px;
	height: 75px;
	top: 75px;
	left: 148px;
	border-radius: 2px;
	transform-origin: 2px 75px;
	height: 40px;
	top: 65px;
	left: 95px;
	transform-origin: 5px 35px;
	box-shadow: 0 0 10px @shadow-red;
	height: 55px;
	top: 50px;
	left: 98px;
	transform-origin: 2px 50px;
}
.second-hand {
	width: 10px;
	height: 55px;
	background: @glowing-red;
	position: absolute;
	top: 100px;
	left: 145px;
	border-radius: 0 0 5px 5px;
	transform-origin: 5px 50px;
	box-shadow: 0 0 20px @shadow-red;
	width: 2px;
	height: 90px;
	top: 60px;
	left: 149px;
	border-radius: 1px;
	transform-origin: 1px 90px;
	height: 40px;
	top: 65px;
	left: 95px;
	transform-origin: 5px 35px;
	box-shadow: 0 0 10px @shadow-red;
	height: 55px;
	top: 45px;
	left: 100px;
	transform-origin: 1px 55px;
}
.hour-hand {
	&::before {
		content: " ";
		display: block;
		position: absolute;
		top: -15px;
		left: 0;
		width: 0;
		height: 0;
		border: 5px #0000 solid;
		border-bottom: 10px @glowing-red solid;
	}
	height: 40px;
	top: 65px;
	left: 95px;
	transform-origin: 5px 35px;
	box-shadow: 0 0 10px @shadow-red;
}
.center {
	position: absolute;
	top: 135px;
	left: 135px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: @glowing-red;
	box-shadow: 0 0 20px @shadow-red;
	transition: all 0.5s cubic-bezier(0.6, -0.51, 0.5, 1.51);
	top: 90px;
	left: 90px;
	width: 20px;
	height: 20px;
	box-shadow: 0 0 10px @shadow-red;
}
.inner-circle {
	top: 35px;
	left: 35px;
	width: 130px;
	height: 130px;
	box-shadow: 0 0 10px @shadow-red, inset 0 0 10px @shadow-red;
}
.tick {
	top: 36px;
	left: 91px;
	transform-origin: 0px 65px;
}
@media only screen and (max-width: 960px) {
	.clock {
		max-width: 90vw;
	}
	.phrases {
		font-size: 18px;
		word-spacing: 7px;
	}
	span {
		margin-right: 10px;
		filter: blur(1px);
	}
	.timer {
		font-size: 12px;
	}
	.standard-clock {
		max-width: 200px;
		min-width: 200px;
		height: 200px;
		margin-bottom: 20px;
		text-shadow: 0 0 10px @shadow-red;
		box-shadow: 0 0 10px @shadow-red, inset 0 0 10px @shadow-red;
		&: before { width: 220px;
		height: 220px;
	}
}
